In [1]:
!pip install pandas 
!pip install numpy 
!pip install Faker 
!pip install seaborn 
!pip install matplotlib 
!pip install scikit-learn 
!pip install kneed

zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip

In [12]:
import pandas as pd

user = {'name': 'pippo', 'surname': 'pluto', 'gender': 'M', 'searching_gender': 'F', 'interests': 'Roller hockey, Movies, Gaming, Paragliding, Orienteering', 'age': '45', 'latitude': '42.4355', 'longitude': '-83.489'}

df_user = pd.DataFrame.from_dict(user, orient="index").T
clustered = pd.read_csv("clustered_dataset.csv")
df_user

,name,surname,gender,searching_gender,interests,age,latitude,longitude
0,pippo,pluto,M,F,"Roller hockey, Movies, Gaming, Paragliding, Or...",45,42.4355,-83.489

In [13]:
from sklearn.feature_extraction.text import CountVectorizer  

def split_interests(interests):
  tokens = interests.split(", ")
  interests_list = [] 
    
  for token in tokens:
      interests_list.append(token)
        
  return interests_list

vect = CountVectorizer(tokenizer=lambda interests: split_interests(interests), lowercase=True) 
vect_labels = vect.fit_transform(df_user["interests"]) 


df_user = pd.concat([df_user, pd.DataFrame(data=vect_labels.toarray(), columns=vect.get_feature_names_out())], axis=1)
df_user

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

,name,surname,gender,searching_gender,interests,age,latitude,longitude,gaming,movies,orienteering,paragliding,roller hockey
0,pippo,pluto,M,F,"Roller hockey, Movies, Gaming, Paragliding, Or...",45,42.4355,-83.489,1,1,1,1,1

In [14]:
merged = pd.concat([clustered, df_user], ignore_index = True)
merged = merged.fillna(0)
merged

,name,surname,gender,searching_gender,age,interests,latitude,longitude,acting,advertising,...,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga,Cluster #
0,Beth,Shaw,F,M,23,"Roller hockey, Movies, Gaming, Paragliding, Or...",42.4355,-83.489,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
1,Tammy,Gray,N,F,35,"Gardening, Web design, Mathematics, Gaming",39.5204,-81.0684,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145.0
2,Casey,Taylor,M,M,31,"Table tennis, Judo, Food criticism, Stand-up c...",48.0572,-117.7466,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0
3,Carrie,Black,F,M,38,"Fishing, Pinball, Rock Climbing, Bar tending, ...",27.7037,-97.5718,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
4,Stephanie,Martinez,F,F,28,"Art history, Gymnastics, Rappelling, Advertisi...",38.481,-100.4663,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,Kathleen,Thompson,F,N,31,"Woodworking, Card games, Marketing, Bouldering...",46.7968,-122.868,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,42.0
4997,Christina,Johnson,F,N,19,"Jogging, Baking, Puzzle solving",43.3082,-110.7443,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0
4998,Anthony,Roberson,M,B,33,"Knitting, Muay Thai, Bouldering",40.9222,-72.3533,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4999,Amy,Walker,F,F,21,"Escape rooms, Marketing, Fitness, Board games",40.3495,-76.1391,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0
5000,pippo,pluto,M,F,45,"Roller hockey, Movies, Gaming, Paragliding, Or...",42.4355,-83.489,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
del merged['name']
del merged['surname']
del merged['gender']
del merged['searching_gender']
del merged['age']
del merged['Cluster #']
del merged['interests']

merged

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
0,42.4355,-83.489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,39.5204,-81.0684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,48.0572,-117.7466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27.7037,-97.5718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,38.481,-100.4663,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,46.7968,-122.868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4997,43.3082,-110.7443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,40.9222,-72.3533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,40.3495,-76.1391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000,42.4355,-83.489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
merged[merged.columns] = scaler.fit_transform(merged[merged.columns])

merged

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
0,0.464666,0.833018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.409333,0.855243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.571376,0.518469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.185031,0.703711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.389603,0.677135,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0.547452,0.471445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4997,0.481232,0.582763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.435941,0.935264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.425070,0.900504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000,0.464666,0.833018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
row = merged.iloc[-1:]
row

,latitude,longitude,acting,advertising,air hockey,american football,art,art history,astronomy,astrophysics,...,watercolor,web design,weightlifting,windsurfing,wine tasting,woodworking,wrestling,writing,yachting,yoga
5000,0.464666,0.833018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
import joblib
import numpy as np

clf = joblib.load('model.sav')
value = clf.predict(row)
value[0]

109